* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 62.5%;
  --color-black: #242424;
}

body {
  font-size: 1.6rem;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 28px 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* WORKER CHECK */

.worker-check {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: 1fr 0.5fr;
  padding: 1rem;
  gap: 2rem;
}

.worker-check fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* center items horizontally */
  justify-content: center; /* center items vertically */
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 100px; /* optional: consistent width */
  /*flex-shrink: 0; /* prevent shrinking in row */
}

.worker-check legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0px 10px;
}

.worker-check div {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  justify-content: stretch;
}

.worker-check input[type='radio'] {
  margin-left: 0.8rem;
  transform: scale(1.2);
  cursor: pointer;
}

.worker-check label {
  cursor: pointer;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
  border: 1px solid transparent;
}

.worker-check label:hover {
  border-color: #ccc;
}

.rank {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 5px;
}

.rank[data-skill='fa'] {
  grid-column-start: 2;
}

/* WAGE TABLE */
.wage-table {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.wage-table-skills {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.wage-table-skill {
  padding: 0.8rem;
  cursor: pointer;
}

.wage-table-wages {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 2px;
}

.wage-table-wages div {
  padding: 1rem;
  border: 1px solid #121212;
}
.t1 {
  grid-column-start: 2;
}
